<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @ad.URL %>
</p>

<p>
  <b>Duration:</b>
  <%= @ad.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>


<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
