
<p>
	Instead of coming here, I shall forward the user to the stream path.. 
	where he could see all available streams, with their details.
	Hence first, I must create the models views and controllers!
</p>

<!--Looping through your statuses:<br />
<ul>

<% @graph_data.each do |key,value| %>
<%= key %> : <%= value %> <hr>
<% end %>
</ul>

<table border="0">
 <% if @likes %>
 <% for like in @likes %>
 <tr>
 <td><b><%=h like["name"]%> </b></td>
 </tr>
 <tr>
 <td><%=h like["category"] %></td>
 </tr>
 <tr>
 <td>&ndash;</td>
 </tr>
 <% end %>
 <% end %>
</table>

Picture:

<%= image_tag(@picture, class: 'list_image') %>


<%= button_to("Logout", logout_path , method: :delete) %>

<%= @friends %>-->
