<p id="notice"><%= notice %></p>

<p>
  <b>Ip:</b>
  <%= @proxy.IP %>
</p>

<p>
  <b>Port:</b>
  <%= @proxy.port %>
</p>


<%= link_to 'Edit', edit_proxy_path(@proxy) %> |
<%= link_to 'Back', proxies_path %>
