<h1>Listing live_streams</h1>

<table>
  <tr>
    <th>Publishing point</th>
    <th>Proxy</th>
    <th>Name</th>
    <th>Status</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @live_streams.each do |live_stream| %>
  <tr>
    <td><%= live_stream.publishing_point %></td>
    <td><%= live_stream.proxy_id %></td>
    <td><%= live_stream.name %></td>
    <td><%= live_stream.status %></td>
    <td><%= live_stream.URL %></td>
    <td><%= link_to 'Show', live_stream %></td>
    <td><%= link_to 'Edit', edit_live_stream_path(live_stream) %></td>
    <td><%= link_to 'Destroy', live_stream, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Live stream', new_live_stream_path %>
