<%= form_for(@online_user) do |f| %>
  <% if @online_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@online_user.errors.count, "error") %> prohibited this online_user from being saved:</h2>

      <ul>
      <% @online_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :plan_id %><br />
    <%= f.number_field :plan_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
