<ul class="tabs">
	<li><%= link_to "Index", backend_ads_path %></li>
	<li><%= link_to "New", new_backend_ad_path %></li>
	<li class="active"><%= link_to "Show", "#" %></li>
	<li><%= link_to "Edit", edit_backend_ad_path %></li>
	<li><%= link_to "Destroy", backend_ad_path(@ad), :method => :delete, :confirm => "Are you sure?" %></li>
</ul>



<p>
  <b>Url:</b>
  <%= @ad.URL %>
</p>

<p>
  <b>Duration:</b>
  <%= @ad.duration %>
</p>

<p>
  <b>Description:</b>
  <%= @ad.description %>
</p>

<p>
	<b>Tags:</b>
	<% @ad.tags.each do |tag|%>
		<%= tag.name %>
	<% end %>
</p>


<%= link_to 'Edit', edit_backend_ad_path(@ad) %> |
<%= link_to 'Back', backend_ads_path %>
